@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SfDistantGalaxy';
  src: local('SfDistantGalaxy'), url(./fonts/SfDistantGalaxy-0l3d.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  font-family: Arial, Helvetica, sans-serif, SfDistantGalaxy;
  font-size: 12px;
}